#div1 {
    color: red;
    display: inline-block; 
    font-weight: bold;
    font-size: 18px;
    background-color: #aea5a5;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    background-color: #18dc94;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: bold;
}

p {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
